<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="icon" type="image/x-icon" href="/file.png" />
    <link rel="stylesheet" href="/simple.min.css" />
  </head>
  <body>
    <h3>WELCOME BACK <%= currentUser.username %></h3>
    <p>Limit <%= currentUser.limit %> bytes</p>
    <ul>
      <li><a href="/add-file">Add File</a></li>
      <li><a href="/log-out">Log out</a></li>
    </ul>

    <%- include('partials/successMsg.ejs', {success: locals.success}) %> <%-
    include('partials/errorMsg.ejs', {errors: locals.errors}) %>

    <table>
      <tr>
        <th>File Name</th>
        <th>Bytes</th>
        <th colspan="2">Action</th>
      </tr>

      <% files.forEach(function (file) { %>
      <tr>
        <td><%= file.file_name %></td>
        <td><%= file.bytes %></td>
        <td>
          <form action="/delete/<%= file.file_id %>" method="post">
            <button>Delete</button>
          </form>
        </td>
        <td>
          <form action="/download/<%= file.file_id %>" method="post">
            <button>Download</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
